<div class="container state" id="secretNumberState">
  <div class="row">
    <div class="col-md-6 col-md-offset-6">
      <h4>Enter your secret number</h4>
    </div>
    <div class="col-md-4 col-md-offset-6">
      <form class="form-group" [formGroup]="secretNumberForm">
        <input type="text" id="secretNumber" class="form-control" formControlName="secretNumber" />
        <div *ngIf="secretNumber.invalid && (secretNumber.dirty || secretNumber.touched)" class="alert alert-danger">
          <div *ngIf="secretNumber.errors.required">
            Number is required.
          </div>
          <div *ngIf="secretNumber.errors.minlength">
            Number must be at least 4 characters long.
          </div>
          <div *ngIf="secretNumber.errors.maxlength">
            Number must be max 4 characters long.
          </div>
          <div *ngIf="secretNumber.errors.min">
            Number must be positive.
          </div>
          <div *ngIf="secretNumber.errors.pattern">
            Must be a number
          </div>
        </div>
        <button type="submit" class="btn btn-default" (click)="submitSecretNumber()" [disabled]="secretNumberForm.invalid">Submit</button>
      </form>
    </div>
  </div>
</div>
